<div class="widgets">
  <div class="row">
    <div class="col-12 typography-widget">
    <ba-card title="Liste des serveurs" baCardClass="with-scroll heading-widget">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-primary btn-with-icon" (click)="refreshAll()"><i class="ion-android-download"></i>Uptime check</button>
        <button type="button" class="btn btn-primary btn-with-icon" (click)="versionAll()"><i class="ion-android-download"></i>Version update</button>
      </div> 
      <div class="col-4">
      </div> 
      <div class="col-4">
        <button type="button" class="btn btn-success btn-with-icon pull-right" [routerLink]="['/pages/servers/create']"><i class="ion-compose"></i>Create server
        </button>
      </div>
      </div>
    </ba-card>
    </div>
    <div class="col-12">
      <div class="col-xlg-3 col-lg-3  col-md-4 col-sm-4 typography-widget pull-left" *ngFor="let server of servers">
        <ba-card title="{{server.name}}" baCardClass="with-scroll heading-widget">
          <div class="pull-left">
            <i class="fa fa-refresh disabled" [ngClass]="{ 'fa-spin': server.loading }" [hidden]="!server.loading"></i>
          </div>
          <div class="pull-right">
      		  <i class="fa fa-power-off" [ngClass]="{'1':'text-success','-1':'text-danger','undefined':'text-warning'}[server.isOnline]" (click)="refresh(server)"></i>
          </div>
          <div class="section-block">
            <p (click)="version(server)">{{server.version}}</p>
          </div>
          <div class="section-block">
            <p>Envoy Name : <b>{{server.envoyName}}</b></p>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary btn-with-icon pagination-centered" [routerLink]="['/pages/servers/edit', server._id]"><i class="fa fa-pencil-square-o"></i>Edit</button>
          </div>
        </ba-card>
      </div>
    </div>
  </div>
</div>